<!DOCTYPE html>
<html lang="{{ site.lang | default: "ru-RU" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <img src="/assets/img/1.png" width="120px" style="float:left;display: block;margin-left: auto;margin-right: auto">
      <h1 class="project-name">{{ site.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% include header.html %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Сделано в Студии цифровой разработки "Апельсин"</span>
      </footer>
    </main>
    <div class="bt"><a href="#" style="text-decoration: none;">^</a></div>
    <script>
     var slideIndex = [1,1,1];
var slideId = ["gal1", "gal2", "gal3"]
showSlides(1, 0);
showSlides(1, 1);
showSlides(1, 2);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}    
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex[no]-1].style.display = "block";  
}



function openModal() {
  document.getElementById('mga').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('mga').style.display = "none";
}

var smi = [1,1,1];
var smid = ["mgas1", "mgas2", "mgas3"]
sm(1,0);
sm(1,1);
sm(1,2);
// Next/previous controls
function ps(n, no) {
  sm(smi[no] += n, no);
}

// Thumbnail image controls
function currentSlide(n) {
  sm(smi[no] = n, no);
}

function sm(n, no) {
  var i;
  var sl = document.getElementsByClassName(smid[no]);
  if (n > sl.length) {smi[no] = 1}
  if (n < 1) {smi[no] = sl.length}
  for (i = 0; i < sl.length; i++) {
    sl[i].style.display = "none";
  }
  sl[smi[no]-1].style.display = "block";
}
      </script>
  </body>
</html>
